<div id="page-container" style=" background:#FFFFF0">
	<!--没有内容的时候start-->
	<div style="position:absolute; left:50%; top:20%; margin-left:-40px; font-size:80px; display:none; z-index:9999; color:#EAEAEA" id="nocontent">
	   <i class="fa fa-frown-o"></i>
	</div>
	<!--没有内容的时候END-->
	<!--消息列表cng-if="showDiv == 'fchat'"-->
	<div id='fchat-div' style="display: none">
		<div 
			chat-content >
		</div>
	</div>
	<!--用户列表 ng-if="showDiv == 'users'" -->
	<div id='users-div' style="display: none">
		<div  
			chat-users >
		</div>
	</div>
	<div id='discover-div' style="display: none">
		<div>discover-div</div>
	</div>
	<div id='myself-div' style="display: none">
		<div>myself-div</div>
	</div>
</div>